# 2018 September 3
# https://github.com/bevry/base

# System Files
**/.DS_Store

# Temp Files
yarn.lock
**/.docpad.db
**/*.log
**/*.cpuprofile
**/*.heapsnapshot

# Editor Files
.c9/
.vscode/

# Private Files
.env
.idea
.cake_task_cache

# Build Files
**/out.*
**/*.out.*
**/out/
**/output/
build/
components/
bower_components/
node_modules/
edition*/
coffeejs/
coffee/
es5/
es2015/
esnext/
docs/


# =====================================
# CUSTOM

# None
